.cardHeader{
  height: 5.125rem;
  margin: 2rem;
}

.cardHeaderTitle{
  font-size: var(--card-header-font-size);
  font-weight: bold;
}

.cardImgPlaceholder{
  height: 60vh;
  width: 80vw;
  margin: auto;
  border-radius: .5rem;
}