.label{
  color: var(--white-color);
  transition: all 0.2s;
  position: relative;
  bottom: 1.875rem;
  font-size: 1.125rem;
}

.input{
  background-color: transparent;
  color: var(--white-color);
  border: none;
  border-bottom: solid thin #212529;
  text-align: start;
}

.input:focus{
  background-color: transparent;
  color: var(--white-color);
  box-shadow: none;
  border-color: black;
}

.input:focus ~ .label,
.input:valid ~ .label,
.input:not([value=""]) ~ .label{
  bottom: 3.5rem;
  font-size: 1rem;
  color: var(--gray-color);
}